# Development folder
src/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/

# Visual Studio Code configuration folder
.vscode

# apple ds store file
.DS_Store

# github actions workflow
.github


# Test mocks
__mocks__

# auto-changelog and cloc files
.auto-changelog.json
.clocignore
changelog-template.hbs
handlebars.json

# eslint and prettier files
.editorconfig
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json

# husky and commitlint
.husky
commitlint.config.js

# Miscellaneous markdown files
CLOC.md
REFERENCES.md
